:root {

    --bg-colour: hsl(0, 0%, 17%);
    --bg-secondary: hsl(0, 0%, 27%);

    --bd-radius: 1.5em;
    --bd-radius-light: .5em;

    --drop-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-color: var(--bg-colour);
}
body::-webkit-scrollbar{
    display: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-yellow{
    color: #f5c315;
}

nav{
    height: 3em;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;

    background-color: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: white;
    font-size: 1.5em;

}

nav p{
    margin-left: 1em;
    user-select: none;
    cursor: pointer;
}

nav ul{
    list-style: none;
    margin-right: 1em;
}

nav ul > li{
    display: inline-block;
    gap: 1em;
    margin-left: .5em;
    user-select: none;
    cursor: pointer;
}

html{
    scroll-snap-type: y mandatory;
}

section{
    height: calc(100vh - 5em);
    width: 100%;
    padding-top: 5em;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
}

.section-title{

    margin-left: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 2em;
    color: white;
    font-weight: 300;

}

.see-more {
    margin-right: 1em;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: .2em;

    cursor: pointer;

    opacity: .5;
}

.see-more svg {
    height: 1.5em;
    width: 1.5em;
}

#page_navigator{

    padding: 1em 0;

    max-height: fit-content;
    width: 2.5em;
    background-color: rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(1px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    position: fixed;
    z-index: 10;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 1.5em 0 0 1.5em;
}

#page_navigator .dot{
    width: .5em;
    height: .5em;
    border-radius: 100%;
    background-color: white;
    opacity: 0.5;
}

.home-banner{

    width: calc(99% - 1em);
    height: 99%;
    padding-left: 1em;
    background-color: var(--bg-secondary);
    border-radius: var(--bd-radius);

    display: grid;
    grid-template-columns: 70% 30%;

    position: relative;

}

.home-banner h1{
    font-weight: bold;
    
    font-size: 3.5em;
}

.home-banner h2{
    font-weight: normal;
    font-size: 2.5em;
}

.home-banner hr{
    width: 80%;
    margin: 1em 0;
}

.home-banner .img-holder{
    display: flex;
    align-items: center;
    justify-content: end;
}

.home-banner img{
    height: 33em;
    object-fit: contain;

    border-radius: 1.5em 0 0 1.5em;
}

.home-banner .socials{
    position: absolute;
    bottom: 1.25em;
    left: 1.25em;
}

.home-banner .socials p{
    font-size: 1.5em;
    margin-bottom: .5em;
}

.home-banner .socials svg{
    height: 3em;
    width: 3em;
    cursor: pointer;

    transition: 200ms;
}

#whatsapp:hover > g{
    fill: #3bb97c;
    transition: 200ms;
}

#linkedin:hover > g{
    fill: #0a66c2;
    transition: 200ms;
}

#github:hover > g{
    fill: #000000;
    transition: 200ms;
}

.experiences {
    height: calc(90% - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}

.experiences .exp {

    width: 99%;
    height: 15em;

    border-radius: var(--bd-radius-light);

    background-color: var(--bg-secondary);

}