div.icons {

    display: flex;

    justify-content: space-evenly;

}

div.icons svg {
    
    width: 24px;
    height: 24px;
    
    fill: var(--font-secondary);
    cursor: pointer;
    
}

div.icons svg:hover {

    fill: var(--font-default);

}