@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Iosevka+Charon:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --bg: hsl(0, 0%, 5%);
  --bg-secondary: hsl(0, 0%, 10%);
  --bg-tertiary: hsl(0, 0%, 15%);

  --lines: hsl(0, 0%, 15%);
  --lines-secondary: hsl(0, 0%, 25%);

  --font-default: hsl(0, 0%, 95%);
  --font-secondary: hsl(0, 0%, 80%);

  --box-shadow: rgba(0, 0, 0, 0.315) 0px 3px 8px;

  --accent: #ffcb47;
  --accent-light: #ffe188;
  --accent-shade: #ffb620;

}

[data-theme="light"] {

  --bg: hsl(0, 0%, 95%);
  --bg-secondary: hsl(0, 0%, 90%);
  --bg-tertiary: hsl(0, 0%, 85%);

  --lines: hsl(0, 0%, 85%);
  --lines-secondary: hsl(0, 0%, 75%);

  --font-default: hsl(0, 0%, 5%);
  --font-secondary: hsl(0, 0%, 20%);

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

* {

  margin: 0;
  padding: 0;

  font-family: "Arimo", Arial, Helvetica, sans-serif;
  color: var(--font-default);

}

body {

  background-color: var(--bg);

}

hr {

  border: none;
  height: 1px;

  background-color: var(--lines);

  width: calc(100% - 32px);

  margin: 16px 16px;

}

div.grid {

  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: max-content 1fr;

}

div.grid > * {

  height: 100%;

}

main {

  overflow-y: auto;

}

section {
  
  min-height: 100vh;
  padding: 16px 128px;
  overflow-y: auto;
  
}

section h1.section-title {

  text-align: center;

}

section.secondary {

  background-color: var(--bg-secondary);

}

button#backToTop {

  position: fixed;

  bottom: 32px;
  right: 32px;

  width: 64px;
  height: 64px;

  background-color: var(--accent);

  border: none;
  border-radius: 16px;

  transition: 100ms ease-in-out;

}

button#backToTop:hover {

  background-color: var(--accent-shade);

  transition: 100ms ease-in-out;

}

button#backToTop svg {
  
  fill: black;

  width: 32px;
  height: 32px;

  cursor: pointer;

}

div#buttons {
  
  display: flex;
  gap: 16px;
  
}

div#buttons a {

  text-decoration: none;

}

button.primary {
  
  background-color: var(--accent);
  
  border: none;
  border-radius: 4px;
  
  padding: 8px 16px;
  
  color: black;
  cursor: pointer;

  transition: 100ms ease-in-out;
  
}

button.primary:hover {

  background-color: var(--accent-shade);

  transition: 100ms ease-in-out;
  
}

button.secondary {
  
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: transparent;
  border: 1px solid var(--font-default);
  
  border-radius: 4px;
  
  padding: 8px 16px;
  
  color: var(--font-default);
  cursor: pointer;
  
  transition: 100ms ease-in-out;
  
}

button.secondary:hover {
  
  border: 1px solid transparent;
  background-color: var(--font-default);
  color: var(--bg);
  
  transition: 100ms ease-in-out;
  
}

button.secondary svg {
  
  width: 16px;
  height: 16px;
  
  fill: var(--font-default);
  
}

button.secondary:hover svg {

  fill: var(--bg);

}